/**
{{#summary}}
  * {{summary}}
{{/summary}}
{{#notes}}
  * <p></p>
  * <p></p>
{{/notes}}
{{#notes}}
  * {{{notes}}}
{{/notes}}
  * <p></p>
  * <p></p>
  * <b>Example Response:</b><br>{{#examples.0}}
  * <pre>
  * {{{example}}}
  * </pre>{{/examples.0}}
  * <p></p>
  * <p><b>Possible HTTP Response Statuses:</b>
  * {{#responses}}<br>- {{{code}}} ({{{message}}}){{#hasMore}} with body {@link {{baseType}}}{{/hasMore}}{{/responses}}
  * <p></p>
{{#allParams.0}}
  * @param requestParameters TODO
{{/allParams.0}}
  * @param requestOptions TODO
  */
