{{>licenseInfo}}
{{#models}}
{{#model}}
{{#tsImports}}
import { {{classname}} } from '{{filename}}';
{{/tsImports}}
import { Type } from "class-transformer";

{{^isEnum}}
  {{^isAlias}}
    {{^taggedUnions}}
      {{^oneOf}}
        {{#vars}}
          {{#isDate}}
export function Type{{classname}}{{{name}}}() {
    return Date;
}
          {{/isDate}}
          {{#isDateTime}}
export function Type{{classname}}{{{name}}}() {
    return Date;
}
          {{/isDateTime}}
          {{^isPrimitiveType}}
            {{#isModel}}
export function Type{{classname}}{{{name}}}() {
    return {{{dataType}}};
}
            {{/isModel}}
            {{^isModel}}
export function Type{{classname}}{{{name}}}() {
    return {{{complexType}}};
}
            {{/isModel}}
          {{/isPrimitiveType}}
        {{/vars}}
      {{/oneOf}}
    {{/taggedUnions}}
  {{/isAlias}}
{{/isEnum}}

{{#description}}
/**
 * {{{description}}}
 * {{#stubiExample}}<p></p>
 * <p></p>
 * <b>Example Model:</b><br>
 * <pre>
 * {{{example}}}
 * </pre>{{/stubiExample}}
 */
{{/description}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#isAlias}}{{>modelAlias}}{{/isAlias}}{{^isAlias}}{{#taggedUnions}}{{>modelTaggedUnion}}{{/taggedUnions}}{{^taggedUnions}}{{#oneOf}}{{#-first}}{{>modelOneOf}}{{/-first}}{{/oneOf}}{{^oneOf}}{{>modelGeneric}}{{/oneOf}}{{/taggedUnions}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
