import { Type } from "class-transformer";

// @dynamic
export class {{classname}} { {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
    /**
     * {{{description}}}
     */
    {{/description}}
    {{#isDate}}@Type(() => Date){{/isDate}}
    {{#isDateTime}}@Type(() => Date){{/isDateTime}}
    {{^isPrimitiveType}}{{#isModel}}@Type(() => {{{dataType}}}){{/isModel}}{{^isModel}}@Type(() => {{{classVarName}}}){{/isModel}}{{/isPrimitiveType}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{{name}}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isNullable}} | null{{/isNullable}};
{{/vars}}
}{{>modelGenericEnums}}
