{
  "$schema": "./node_modules/ng-packagr/ng-package.schema.json",
  "whitelistedNonPeerDependencies": [
    "upe",
    "class-transformer",
    "@types/reflect-metadata"
  ],
  "lib": {
    "entryFile": "index.ts"
  }
}
